#Posts{
    display: flex ;
    flex-wrap: wrap;
}

/*style='border:2px solid; width:200px; margin:10px: paddinng:10px*/
#div2{
    border: 2px solid;
    width: 200px;
    margin: 10px;
    padding: 10px;
}