body{
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: blueviolet;
    background-image: url('https://i.pinimg.com/236x/62/5a/79/625a797151e30b0fe95e511e666138e7.jpg');
    display: flex;
    background-size:initial;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
	flex-wrap: wrap;
}
.back{
	background-color: #a7501783;

}
.card{
	background-color: #a7501783;

	border: none;
	border-radius: 10px;
	width: 650px;
	margin-top: -60px;
}
p.mb-1{
	font-size: 25px;
	color: #9FB7FD;
}
.btn-primary{
	border: none;
	background: #5777DE;
	margin-bottom: 60px;
}
.btn-primary small{
	color: #9FB7FD;
}
.btn-primary span{
	font-size: 13px;
}
img{
	width: 50px;
	height: 50px;
}
#validUserName{
	display: inline;
}
/***card-two****/
.card.two{
	border-top-right-radius: 60px;
	border-top-left-radius: 0;
}
.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    border-bottom: 1.5px solid #E6EBEE;
}

.form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #8A97A8;
}

.form-control-placeholder {
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 80%;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -90%, 0);
    opacity: 1;
    top: 10px;
    color: #8B92AC;
}
.btn-block{
	border: none;
	border-radius: 8px;
	background-color: #506CCF;
	padding: 10px 0 12px;
}
.btn-block:focus{
	box-shadow: none;
}
.btn-block span{
	font-size: 15px;
	color: #D0E6FF;
}