header {
	background-color: #2e354f;
	color: #fff;
	padding: 10px;
	font-size: bold;
}


nav ul{
	display: flex;
	font-family: cursive;
}

nav ul li {
	margin: 10px 20px;
	cursor: pointer;
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	color: #2e354f;
}

footer{
	padding-top: 20px ;

}

.rights{
	text-align: center;
	word-spacing: 5px;
}

table{
	width:100%
}

.col_3{
	width: 25%;
}

.col_2{
	width: 50%;
	padding: 40px;
}

.col_1{
	width: 25%;
}

body{
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}
}
.login{
   border: 3px solid #2e354f;
   padding: 10px;
}

th, td {
   border: 1px solid black;
  border-radius: 10px;
}

.rh{
	height: 190px;
}

.sign_up{
	width: 1010px;
	padding: 90px 70px 50px 70px;;
	padding-top: 6px;
   border: 30px darkred;
 	border-radius: 4px;  
  font-size: 14px; 
  margin: auto; 
  line-height: 22px;  
  letter-spacing: 0.5px;  
  outline: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 60px; 


}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

h1{
	color: #2e354f;
}

.signin{
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 500;
	transition: .2s;
}

.signin_lst{
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 500;
	transition: .2s;
	width: 30%;
}

.field{
	padding: 10px;
	width: 75%;

}
button{
	width: 35%;
}